h1{
	color: black;
}

html,body{
	background-color: white;
	height: 100%;
	font-family: "Ubuntu";
	font-size: 18px;
}

h2{
	color: black;
}

.center{
	text-align: center;
	list-style-position: inside;
}

#profileCss{
	background-color: #d1f2fd;/*#abd4dd;*/
	height: 30%;
	border: 3px double black;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#prefs{
	max-width: 50vw;
}

svg{
	max-width: 50vw;
}

input{
	text-align: center;
	margin: auto;
}

.container-fluid{
	padding: 0px;
	/*height: calc(100% - 70px);*/
}

.carousel-content {
    color:black;
    display:flex;
    align-items:center;
}

.carousel-content > div{
	margin: auto;
}

#text-carousel{
	width: 100%;
	height: 70%;
	margin: 0;
	padding: 0;
	text-align: center;
}

.carousel-inner{
	height:70%;
}

.node rect {
  stroke: #333;
  fill: #fff;
}

.edgePath path {
  stroke: #333;
  fill: #333;
  stroke-width: 1.5px;
}

#timeline {
	width: 800px;
	height: 350px;
	overflow: hidden;
	margin: 100px auto;
	position: relative;
}
#dates {
	width: 800px;
	height: 60px;
	overflow: hidden;
}
#dates li {
	list-style: none;
	float: left;
	width: 200px;
	height: 50px;
	font-size: 24px;
	text-align: center;
}
#dates a {
	/*line-height: 38px;*/
	font-size: 20px;
	color: black;
	padding-bottom: 10px;
	text-decoration: underline;
}
#dates .selected {
	font-size: 30px;
}
		
#issues {
	width: 800px;
	height: 350px;
	overflow: hidden;
}	
#issues li {
	width: 800px;
	height: 350px;
	list-style: none;
	float: left;
}
#issues li h1 {
	font-size: 48px;
	margin: 20px 0;
	text-shadow: #000 1px 1px 2px;
}
#issues li p {
	font-size: 14px;
	margin-right: 70px;
	font-weight: normal;
	line-height: 22px;
	text-shadow: #000 1px 1px 2px;
}
